.mb-1.attr

  .input-group.input-group-sm
    .input-group-prepend
      %span.input-group-text
        %i.fas.fa-link
      %input.attr-prefix.form-control.form-control-sm{type: "text"}

  .input-group.input-group-sm
    %input.attributeClass.form-control{type: "text"}
    .input-group-append
      %button.btnDeleteInputClass.btn.btn-sm.btn-danger{type: "button"}
        %i.fas.fa-trash
