<div class='input-group input-group-sm mb-1'>
<input class='method-name form-control' type='text'>
<div class='input-group-append'>
<button class='btn-delete btn btn-sm btn-danger' type='button'>
<i class='fas fa-trash'></i>
</button>
</div>
</div>
