<div class='mb-1 attr'>
<div class='input-group input-group-sm'>
<div class='input-group-prepend'>
<span class='input-group-text'>
<i class='fas fa-link'></i>
</span>
<input class='attr-prefix form-control form-control-sm' type='text'>
</div>
</div>
<div class='input-group input-group-sm'>
<input class='attributeClass form-control' type='text'>
<div class='input-group-append'>
<button class='btnDeleteInputClass btn btn-sm btn-danger' type='button'>
<i class='fas fa-trash'></i>
</button>
</div>
</div>
</div>
