#namespace-gui.modal(tabindex="-1" role="dialog")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        %h5.modal-title Namespaces
        %button.close(type="button" data-dismiss="modal" aria-label="Close")
          %span(aria-hidden="true")
            &times;

      .modal-body
        .form-group
          %label User ID
          %input#namespace-userid.form-control(type="text")

        %button#namespace-load.btn.btn-primary(type="button")
          %span.spinner-grow(role="status")
            %span.sr-only
              Loading...
          Load Namespace

        %hr

        #namespace-table
          %span.spinner-border.text-primary(role="status")
            %span.sr-only Loading...

          %table.table.table-stripped
            %thead
              %th Prefix
              %th IRI
            %tbody#namespace-list
          
      .modal-footer
        %button.btn.btn-secondary(type="button" data-dismiss="modal")
          Close

