<div class='modal' id='namespace-gui' role='dialog' tabindex='-1'>
<div class='modal-dialog' role='document'>
<div class='modal-content'>
<div class='modal-header'>
<h5 class='modal-title'>Namespaces</h5>
<button aria-label='Close' class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>
&times;
</span>
</button>
</div>
<div class='modal-body'>
<div class='form-group'>
<label>User ID</label>
<input class='form-control' id='namespace-userid' type='text'>
</div>
<button class='btn btn-primary' id='namespace-load' type='button'>
<span class='spinner-grow' role='status'>
<span class='sr-only'>
Loading...
</span>
</span>
Load Namespace
</button>
<hr>
<div id='namespace-table'>
<span class='spinner-border text-primary' role='status'>
<span class='sr-only'>Loading...</span>
</span>
<table class='table table-stripped'>
<thead>
<th>Prefix</th>
<th>IRI</th>
</thead>
<tbody id='namespace-list'></tbody>
</table>
</div>
</div>
<div class='modal-footer'>
<button class='btn btn-secondary' data-dismiss='modal' type='button'>
Close
</button>
</div>
</div>
</div>
</div>
